.route-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 12px 10px;
  background: #fff;
  box-shadow: 0 7px 20px #ccc;
}

.fa-times {
  margin: 5px;
  color: #ccc;
  transition: all .2s ease-in;
  cursor: pointer;
}

.fa-times:hover {
  color: red;
}